/*Main html styles*/

html{
    font-family: 'Heebo', sans-serif;
    width: calc(100% - 10px);
}

body {
    margin: 5px;
    padding: 0;
}

/*Header*/

header, footer {
    background-color: #1F2937;
}

nav {
    display: flex;
    align-items: center;
    margin: 15px;
}

#h-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    margin-left: 10px;
    font-weight: bold;
}

.h-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.hero{
    display: flex;
    align-items: center;
    margin: 1rem auto;
    padding: 70px;
}

.hero-main {
    max-width: 50%;
    padding: 10px;

}

.hero-main h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 45px;
}

.hero-main p, .call-to-action p {
    font size: 18px;
    color: #E5E7EB;
}

.hero-img img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

button, .cta-button {
    background-color: #3882F6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #E5E7EB;
    padding: 10px 25px;
    font-weight: 600;
}

/*Main Landing Page*/

.main-1 {
    margin: 25px;
}

.main-1 h2 {
    text-align: center;
    margin: 50px auto;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
    
}

.blocks {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-2 {
    background-color: #E5E7EB;
    width: 100%;
    
}

.main-2 p{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 65px;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #1F2937;
}



.main-3 {
    padding: 80px;
    margin: auto;
}


.main-3-container {
    border-radius: 5px;
    width: 75%;
    margin: auto;
    background-color: #3882F6;
    display: flex;
    padding: 30px 60px;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.cta-button {
    border: solid white;
}

.cta-p {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action p {
    line-height: .25em;
}

.call-to-action {
    margin-right: auto;
}

/*Footer*/

footer {
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
    margin: auto;
    padding: 25px ;
}